<html>
<head>
	<title th:text="${folder.path}" />
	<link 
		href="../static/css/style.css" 
		th:href="@{/css/style.css}"
		rel="stylesheet" />
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"
		rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
</head>
<body>
	<!--@thymesVar id="enable_edit"-->
	<input type="hidden" id="global_enable_edit" th:value="${enable_edit}" />
	<div th:include="footer :: footerDiv()" />
	<script th:src="@{/js/folder.js}"></script>
	<div align="center">
		<section class="ui container">
			<h1>
				Images in folder
				<div th:text="${folder.path}" />
			</h1>
			<br>
			<table>
				<tbody>
					<tr th:each="cimage : ${images}">
						<td>
							<div th:include="image :: imageDiv(${cimage})" align="center" />
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
</body>
</html>				