<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Image Browser</title>
		<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	  	<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"
              rel="stylesheet">		
	</head>
	<body>
		<div th:include="footer :: footerDiv()" />
		<table>
			<tr><td><a href="/host/">Hosts</a></td></tr>
			<tr><td><a href="/root/">Root folders</a></td></tr>
			<tr><td><a href="/album/">Albums</a></td></tr>
		</table>
<!-- 		<h1>Hello from Thymeleaf</h1> <br> -->
<!-- 		<div th:text="${tick}" /> <br> -->
<!-- 		<table> -->
<!-- 			<thead> -->
<!-- 				<tr> -->
<!-- 					<th>Name</th> -->
<!-- 				</tr> -->
<!-- 			</thead> -->
<!-- 			<tbody>      -->
<!-- 				<tr th:each="item : ${items}">          -->
<!-- 					<td><a th:text="${item}" th:href="@{/get(item=${item})}" /></td> -->
<!-- 				</tr> -->
<!-- 			</tbody> -->
<!-- 		</table> -->
	</body>
</html>