<html>
	<head>
		<title th:text="${fileName}">Item details</title>
		<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	</head>
	<body>
		<table>
			<thead>
			   	<tr>
			        <th>Name</th>
			        <th>Value</th>
			   	</tr>
			</thead>
			<tbody>     
			    <tr>         
			    	<td>File name</td>
			        <td><div th:text="${fileName}" /></td>
			    </tr>
			    <tr>         
			    	<td>File type</td>
			        <td>
			        	<img th:src="@{${imgSrc}}" width="32" height="32" th:text="${type}" />
			       	</td>
			    </tr>
			    <tr>         
			    	<td>File size</td>
			        <td><div th:text="${size}" /></td>
			    </tr>
		  	</tbody>
		</table>
		<a href="home">&lt;&lt; Back</a>
	</body>
</html>